[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "patches/powerline"]
	path = patches/powerline
	url = https://github.com/powerline/fonts
